/* Upper navbox */
.navbox.-upper {
    height: 100%;
}

.navbox.-upper.inbody {
    height: 0;
}
.navbox.-upper.-centering .logo {
    display: block;
    margin: 0 auto;
}

/* Lower navbox and its navbox list */
.navbox.-lower ul {
    list-style: none;
    margin: 0;
    padding: 1rem 0;
}
.navbox.-lower .navbox-list {
    width: 100%;
}
.navbox.-lower .navbox-list {
    display: flex;
    justify-content: space-between;
}
.navbox.-lower .navbox-list a {
    text-decoration: none;
}
.navbox.-lower .navbox-list li:hover a {
    text-decoration: underline;
}

#main {
    --article-height: 560px;
}

/* Jumbotron */
.jumbotron {
    background-image: var(--bg-url);
    background-size: cover;
    width: 100%;
    height: var(--article-height);
}
.jumbotron.centering-screen {
    display: flex;
    justify-content: center;
    align-items: center;
}
.jumbotron .screen {
    --title-colour: initial;
    --shadow-colour: transparent;
    color: var(--title-colour);
    text-shadow: var(--shadow-colour) 1px 0 6px;
    max-width: 480px;
}
.jumbotron .title {
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
}

/* Heading jumbotron */
.jumbotron.-heading {
    --bg-url: url("../img/Home_made_sour_dough_bread.jpg");
}
.jumbotron.-heading .screen {
    --title-colour: azure;
    --shadow-colour: goldenrod;
}

/* Main intro */
.jumbotron.-intro {
    --bg-url: url("../img/5256828656_4467b60d9a_o.jpg");
}
.jumbotron.-intro .screen {
    --title-colour: black;
    --shadow-colour: #daff55;
}

/* Footer */
.footer {
    --footer-height: 480px;
    padding-bottom: 1rem;
    position: relative;
}
.footer #map-bg {
    height: var(--footer-height);
    z-index: -1;
}
.footer #map-bg .leaflet-control-container {
    display: none;
}
.footer .contact {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.footer .contact {
    width: 100%;
    display: flex;
    height: var(--footer-height);
}
.footer .contact .card {
    width: 50%;
    margin: 1.2rem;
    padding: 1.2rem;
}
.footer .contact .card {
    border-radius: 1rem;
    background-color: rgba(255,228,196,0.78);
}

/* Footer form */
.footer .contact .form-item {
    width: 100%;
}
.footer .contact .form-item > * {
    width: 100%;
    padding: 0;
}
.footer .contact .form-item label {
    display: block;
}
.footer .contact .form-item label + * {
    display: block;
    margin-bottom: 0.8rem;
}
.footer .contact .form-item .submit-btn {
    padding: 0.8rem;
}
